<div class="container" style="position: relative;margin-top: 100px;">

    <div class="row" style="margin-top: 20px;">

        <div class="col-sm-offset-3 col-sm-6 text-center">

            <p class="lead">
                The translator is based on the <b>API</b> of Google to translate languages.<br>
                Translation is allowed up to <b> 255 </b> characters.
            </p>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">

            <div class="form-group form-group-lg">

                <textarea style="font-size: 32px;resize: vertical;margin-bottom: 5px;background: #F4F4F4;"
                          class="form-control" placeholder="Text to translate" rows="3" maxlength="255"
                          ng-model="query">
                </textarea>

                <label class="radio-inline">
                    <input type="radio" ng-model="bot" value="es2en"> Spanish to English
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="bot" value="en2es"> English to Spanish
                </label>

                <button ng-click="translate()" style="margin-top: 5px;" class="btn btn-sm btn-info pull-right">
                    Translate
                </button>

            </div>

            <div class="clearfix"></div>

        </div>

        <div class="col-sm-6">

            <div class="form-group form-group-lg" cg-busy="{promise:mediaPromise,message:''}">

                <div style="font-size: 32px;min-height: 64px;box-shadow: none;display: table" class="form-control"
                     ng-model="result">
                    {{ result }}
                </div>

            </div>

        </div>

    </div>


</div>
